---
import Layout from "../layouts/Layout.astro";
import Home from "../layouts/Home.astro";
import Projects from "../layouts/Projects.astro";

import "@fontsource/space-grotesk";
---

<Layout title="Home | Ellice Acayan - Software Developer">
	<main class="w-full h-full">
		<Home />
    <Projects />
	</main>
</Layout>
