---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Header from "../components/Header";
import "@fontsource/space-grotesk";
---

<Layout title="Home | Ellice Acayan - Full Stack Developer">
	<Header client:load />
	<main>
		<Home />
	</main>
</Layout>
