---
import { Icon } from "astro-icon";
---

<section
	class="flex flex-col relative items-center justify-center h-[92vh] before:absolute before:w-full before:h-[60vh] before:top-[5%] before:-z-10 md:flex-row md:justify-around"
>
	<div class="flex flex-col items-center md:items-start">
		<h1 class="text-gold font-semibold text-5xl md:text-[55px]">Ellice Acayan</h1>
		<p class="text-white text-s text-center pt-6 md:text-xl md:text-left">Software Developer<br />I can make apps, I can't fix TVs</p>
	</div>
	<img src="/logo.svg" alt="Ellice Acayan Logo" class="hidden md:block md:w-96 md:-ml-10" />
	<div class="group flex items-center space-x-4 mt-6 md:flex-col md:space-x-0 md:space-y-5 md:mt-0">
		<a href="https://www.github.com/eacayan" target="_blank">
			<Icon name="lucide:github" class="social-icon" />
		</a>
		<a href="https://www.linkedin.com/in/ellice-acayan/" target="_blank">
			<Icon name="lucide:linkedin" class="social-icon" />
		</a>
		<a href="mailto:acayanellice@gmail.com" target="_blank">
			<Icon name="lucide:mail" class="social-icon" />
		</a>
	</div>
</section>
