---
import { Icon } from "astro-icon";
---

<section class="flex flex-col items-center justify-center h-[92vh] md:flex-row md:justify-around">
	<h2 class="text-white mb-4 md:hidden">???</h2>
	<div>
		<h1 class="text-gold font-semibold text-4xl md:text-[55px]">Ellice Acayan</h1>
		<p class="text-white text-xs pt-5 md:text-xl">Pagod na ko magtrabaho pakshet</p>
	</div>
	<div class="group flex items-center space-x-2 mt-5 md:flex-col md:space-x-0 md:space-y-5 md:mt-0">
		<a href="https://www.github.com/eacayan" target="_blank">
			<Icon name="lucide:github" class="social-icon" />
		</a>
		<a href="https://www.linkedin.com/in/ellice-acayan/" target="_blank">
			<Icon name="lucide:linkedin" class="social-icon" />
		</a>
		<a href="mailto:acayanellice@gmail.com" target="_blank">
			<Icon name="lucide:mail" class="social-icon" />
		</a>
	</div>
</section>
