---
import ProjectCard from "../components/ProjectCard.astro";
---

<section class="flex flex-col gap-y-6 h-screen snap-start">
	<h2 class="flex text-center justify-center text-gold mt-24 text-[2.5rem]">Selected Projects</h2>

	<div class="container flex p-5">
		<ProjectCard />
	</div>
</section>
